body{
    background-image: url("../../img/bg-smoke.jpg");
    color: white;
}
table{
    border-collapse: collapse;
}

table td{
    border: 1px solid white;
    text-align: center;
}

h1{
    text-align: center;
}

.edit_movies{
    margin: 10px 10px;
}
